# Domain-facing URL used by the browser
NEXT_PUBLIC_API_BASE_URL=http://localhost/api/v1

# LLM defaults
DEFAULT_LLM_PROVIDER=groq
OPENAI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
GROQ_API_KEY=
TOGETHER_API_KEY=

# API
JWT_SECRET_KEY=
CORS_ORIGINS=http://localhost
REDIS_URL=redis://redis:6379/0

# Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Grafana (Monitoramento)
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_ROOT_URL=http://localhost/grafana